<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Madlib Game</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
    body
    {
      padding-top:50px;
      background: linear-gradient(to right,rgb(196, 145, 142), rgb(216, 183, 231));
    }

    .jumbotron
    {
        background: linear-gradient(to right,rgb(236, 206, 129), rgb(255, 255, 255));
    }

    .navbar
    {
        background: linear-gradient(to right,rgb(236, 206, 129), rgb(255, 255, 255));
    }

    h1,h2
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(73, 20, 220);
    }

    p,div
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22px;
    }

    img
    {
        align-content: center;
        
    }


    
</style>