<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Madlibs Game
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/uploadData">(1) Enter Data</a></li>
                <li><a href="/new">(2) View Madlib</a></li>
                <li><a href="/about">(3) View Inputs</a></li>
                <li><a href="/error">Error Log</a></li>
            </ul>
        </div>
    
    </div>
    </nav>