<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
      <h1>Madlibs Game</h1>

      <ul>
        <li>Welcome to a Madlibs style game using ESJ.</li>
        <li>On page 1 input the fields with the assigned nouns, verbs, and adjectives.</li>
        <li>On page 2, you get to see the results!</li>
        <li>Page 3 includes a log of all your inputs.</li> 
        <li>Page 4 is an error log.</li>
      </ul>

  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>